*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: sans-serif;  
}

.div-botones{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}