button{
  width: 250px;
  height: 80px;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid transparent;
  cursor: pointer;
}

.boton-click{
  background: #E7FFFB;
  color: black;
  border-radius: 15px;
  margin: 10px;
}

.boton-click:hover{
  background: #B2FFF2;
}

.boton-reiniciar{
  background: #FFECEC;
  color: black;
  border-radius: 15px;
  margin: 10px;
}

.boton-reiniciar:hover{
  background:#FFB2B2;
}